Install MYSQL 

In MySQL Shell
\sql
\connect root@127.0.0.1:3306 
\source "C:\xampp\htdocs\OJT\MapuaInventory.sql"
\source "C:\xampp\htdocs\OJT\computer_assets_126rows_insert.sql"


backend:
terminal
.\venv\Scripts\activate
cd backend
pip install Flask pytz
python app.py

new terminal frontend
npm start/live server

pip install Flask pytz












