Install MYSQL 

In MySQL Shell
\sql
\connect root@127.0.0.1:3306 
(this depends on the port you are using for MySQL)


Now you will source, in MySQL shell
\source "C:\xampp\htdocs\Mapua-OJT-3T2425-Inventory-main\MapuaInventory.sql"
\source "C:\xampp\htdocs\Mapua-OJT-3T2425-Inventory-main\computer_assets_126rows_insert.sql"


backend:
terminal
.\venv\Scripts\activate
cd frontend
python app.py
npm start/live server

new pc
delete venv
python -m venv venv
.\venv\Scripts\activate
pip install Flask Flask-CORS
cd frontend

python app.py






